.App {
    max-width: 1366px;
    margin: auto;
}

/*
 * HEADER
 */
.header-wrapper {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-wrapper .title {
    font-size: 34px;
    font-weight: bold;
    margin-left: 116px;
}

.header-wrapper .login {
    font-weight: bold;
    font-size: 20px;
    margin-right: 116px;
    cursor: pointer;
}

.header-wrapper .logout {
    font-weight: bold;
    font-size: 20px;
    margin-right: 116px;
    cursor: pointer;
}

/*
 * CAROUSEL
 */
.carousel-outer-wrapper {
    width: 100%;
    height: 667px;
    background-color: white;
}

.carousel-inner-wrapper {
    height: 100%;
    width: 100%;
    opacity: 0.9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.carousel-inner-wrapper .left-content {
    flex: 5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
}

.carousel-inner-wrapper .center-content {
    flex: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.carousel-inner-wrapper .right-content {
    flex: 5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
}

.left-content .left-arrow {
    width: 50px;
    height: 50px;
    color: inherit;
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-content .right-arrow {
    width: 50px;
    height: 50px;
    color: inherit;
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-content .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex-grow: 1;
}

.content-wrapper .title {
    font-size: 64px;
    font-weight: bold;
    background-color: black;
    color: white;
    padding: 0px 16px 5px 16px;
}

.content-wrapper .date {
    font-size: 30px;
    padding: 10px 0px;
}

.center-content .indicator-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-self: flex-end;
}

.indicator-wrapper .indicator {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    align-self: flex-end;
    margin: 0px 5px 50px 5px;
    cursor: pointer;
}

.indicator-wrapper .indicator.active {
    background-color: black;
}

/*
 * ARTICLE
 */
.article-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.article-wrapper .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container .title {
    font-size: 50px;
    font-weight: bold;
}

.header-container .create-item {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
}

.article-wrapper .item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 0px -20px -20px;
}

.item-container .item {
    flex: 23%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 30px;
    cursor: pointer;
    margin: 20px;
}

.item-container .item .image {
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.item-container .item .date {
    margin-top: 16px;
    font-weight: bold;
}

.item-container .item .title {
    margin-top: 16px;
    font-weight: bold;
}

.article-wrapper .load-more {
    margin-top: 30px;
    align-self: center;
}

/*
 * FOOTER
 */
.footer-wrapper {
    background-color: #292929;
    color: white;
    height: 362px;
    margin-top: 160px;
}

.footer-wrapper .content {
    height: 272px;
    max-width: 1115px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-wrapper .content .app-name {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

.footer-wrapper .copyright-container {
    background-color: #101010;
    color: white;
    height: 90px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
}

/*
 * LOADER
 */
.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
}

.loader-wrapper .loading-container,.loading-container.linear {
    height: 3px;
    width: 100%;
    background-color: #292929;
    -webkit-animation: linear-loading 1s infinite;
    -moz-animation: linear-loading 1s infinite;
    -o-animation: linear-loading 1s infinite;
    animation: linear-loading 1s infinite;
}

@-webkit-keyframes linear-loading {
    0%   {width: 100%}
    25%  {width: 25%}
    50%  {width: 50%}
    75%  {width: 75%}
    100% {width: 100%}
}

@-moz-keyframes linear-loading {
    0%   {width: 100%}
    25%  {width: 25%}
    50%  {width: 50%}
    75%  {width: 75%}
    100% {width: 100%}
}

@-o-keyframes linear-loading {
    0%   {width: 100%}
    25%  {width: 25%}
    50%  {width: 50%}
    75%  {width: 75%}
    100% {width: 100%}
}

@keyframes linear-loading {
    0%   {width: 100%}
    25%  {width: 25%}
    50%  {width: 50%}
    75%  {width: 75%}
    100% {width: 100%}
}

.loader-wrapper .loading-container.circular {
    align-self: center;
    margin: auto;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    -webkit-animation: circular-loading 1s infinite;
    -moz-animation: circular-loading 1s infinite;
    -o-animation: circular-loading 1s infinite;
    animation: circular-loading 1s infinite;
}

@-webkit-keyframes circular-loading {
    0%   {border-top: 5px solid #292929;}
    25%  {border: 0 none #292929;  border-top: 5px solid #292929;}
    50%  {border: 0 none #292929; border-right: 5px solid #292929; }
    75%  {border: 0 none #292929; border-bottom: 5px solid #292929;}
    100% {border: 0 none #292929; border-left: 5px solid #292929;}
}

@-moz-keyframes circular-loading {
    0%   {border-top: 5px solid #292929;}
    25%  {border: 0 none #292929;  border-top: 5px solid #292929;}
    50%  {border: 0 none #292929; border-right: 5px solid #292929; }
    75%  {border: 0 none #292929; border-bottom: 5px solid #292929;}
    100% {border: 0 none #292929; border-left: 5px solid #292929;}
}

@-o-keyframes circular-loading {
    0%   {border-top: 5px solid #292929;}
    25%  {border: 0 none #292929;  border-top: 5px solid #292929;}
    50%  {border: 0 none #292929; border-right: 5px solid #292929; }
    75%  {border: 0 none #292929; border-bottom: 5px solid #292929;}
    100% {border: 0 none #292929; border-left: 5px solid #292929;}
}

@keyframes circular-loading {
    0%   {border-top: 5px solid #292929;}
    25%  {border: 0 none #292929;  border-top: 5px solid #292929;}
    50%  {border: 0 none #292929; border-right: 5px solid #292929; }
    75%  {border: 0 none #292929; border-bottom: 5px solid #292929;}
    100% {border: 0 none #292929; border-left: 5px solid #292929;}
}

/*
 * SCROLL TOP
 */
.scroll-to-top {
    position: fixed;
    bottom: 100px;
    left: 80%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    z-index: 1;
    cursor: pointer;
}

/*
 * IMAGE UPLOAD
 */
.drag-drop-zone {
    width: 100%;
    height: 540px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    margin: 20px 0px;
}

.drag-drop-zone.overlay {
    background-color: #d6d6d6;
}

/*
 * BREADCRUMB
 */
.from-state {
    cursor: pointer;
}

.from-state:hover {
    text-decoration: underline;
}

/*
 * CONFIRM MODAL
 */
.modal-outer-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
}

.modal-outer-wrapper .modal-container {
    align-self: center;
    margin: auto;
    min-width: 300px;
    max-width: 800px;
    width: 100%;
    background-color: white;
    padding: 20px;
    text-align: center;
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -o-animation: fadein 1s;
    animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.modal-container .confirm-message {
    font-size: 34px;
    font-weight: bold;
    padding: 50px 0px;
}

.modal-container .confirm-sub-message {
    font-size: 20px;
}

.modal-container .confirm-action {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

/*
 * OVERRIDE
 */

.invalid-field {
    border-color: red;
}

.invalid-field:focus {
    outline-color: red;
}

button {
    background-color: black;
    color: white;
    padding: 20px 20px;
    cursor: pointer;
    width: 100%;
}

input {
    width: 100%;
    height: 50px;
}

textarea {
    width: 100%;
    height: 200px;
}