.form-wrapper {
    font-size: 18px;
    max-width: 450px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.form-wrapper .title {
    font-size: 30px;
    font-weight: bold;
    max-width: 450px;
    margin-top: 80px;
    margin-bottom: 50px;
}

.form-wrapper .confirmation {
    margin-top: 35px;
    text-align: center;
}

.form-wrapper .confirmation .link {
    font-weight: bold;
    cursor: pointer;
}

.form-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-item label {
    text-align: left;
}

.form-item .error-message {
    text-align: left;
    color: red;
    font-size: small;
}