.article-wrapper {
    max-width: 1115px;
    margin: 258px auto 0 auto;
}

.form-container {
    font-size: 18px;
    max-width: 450px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.form-title {
    font-size: 30px;
    font-weight: bold;
    max-width: 450px;
    margin-top: 80px;
    margin-bottom: 50px;
}

.form-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-item label {
    text-align: left;
}

.form-item small {
    text-align: left;
    color: red;
    font-size: small;
}

.confirmation-container {
    margin-top: 35px;
    text-align: center;
}

.confirmation-container a {
    font-weight: bold;
    cursor: pointer;
}
