.page-title {
    font-size: 32px;
    font-weight: bold;
    max-width: 450px;
    margin: 70px auto;
}

.form-wrapper {
    max-width: 450px;
    margin: auto;
    text-align: center;
}

.form-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.form-item label {
    font-size: 20px;
    text-align: left;
}

.form-item .error-message {
    text-align: left;
    color: red;
}