.page-wrapper {
    font-size: 18px;
    max-width: 1115px;
    margin: auto;
}

.page-wrapper .error-message {
    color: red;
    font-size: small;
}

.breadcrumb-wrapper {
    font-family: "Yu Gothic";
    font-size: 16px;
    padding: 26px 120px;
    background-color: whitesmoke;
}

.top-action {
    text-align: right;
    margin: 64px auto 36px auto;
}

.top-action a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    margin-left: 50px;
    cursor: pointer;
    color: black;
}

.article-image {
    width: 100%;
    height: 540px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.comment-wrapper {
    margin-top: 130px;
    border-top: 1px solid black;
}

.comment-wrapper .date {
    font-size: 20px;
}

.comment-wrapper .title {
    font-size: 50px;
    font-weight: bold;
    margin-top: 65px;
    margin-bottom: 35px;
}

.comment-wrapper .comment-container {
    padding: 40px;
    background-color: whitesmoke;
    margin-bottom: 50px;
}

.comment-wrapper .comment-container p {
    font-size: 18px;
}

.comment-wrapper .comment-container small {
    font-size: 16px;
    font-weight: bold;
}

.comment-wrapper form textarea {
    margin-bottom: 35px;
}